$fontcolor: #ad039c;

@media (max-width: 500px){
	body {
		background-color: #e8b0e2; 
	}
}

.titulo_seccion {
	margin-top: 20px;
	margin-bottom: 20px;
	color: $fontcolor;
}

.titulo_nota {
	color: $fontcolor;
}

#tabla_titulo {
	margin-bottom: 5px;
	font-family: : Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: $fontcolor;
}

#tabla_horarios{
	margin: 10px;
	border: 2px solid black;
}

#tabla_cruz::before {
	content: "\2298"
}

#tabla_tilde::before {
	content: "\221A"
}

th, td {
	width: 150px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}

.listas{
	margin-bottom: 20px;
}

#btn_enviar {
	background-color: $fontcolor;
}

#img_tulugar {
	margin-bottom: 20px;
}
