h1 {
	color: #0b5e21;
	text-align: center;
}

p {
	color: red;
}

#top {
	font-size: 36px;
}

#middle {
	font-size: 24px;
}

#bottom {
	font-size: 12px;
}

.name {
	font-weight: bold;
	color: red;
}

div {
	background-color: teal;
	width: 700px;
	height: 400px;
	margin: 30px;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	border: 5px solid blue;
}

table {
	font-family: Arial, sans-serif;
	font-size: 20px;
	border: 2px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

th {
	background-color: lightgrey;
}

